html {
    font-size: 16px;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: $black;
    min-width: 360px;
}

img {
    height: auto;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: $gray;
    transition: all 0.2s;

    &:hover {
        color: $black;
        transition: all 0.2s;
    }
}
